#network{
	position:relative;
	background:#f1583f;
	height:250px
}

#network .overlay{
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	width:100%;
	min-height:100%;
	padding:10% 0;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1583e), color-stop(100%, rgba(241,88,62,0)));
	background-image:-webkit-linear-gradient(#f1583e,rgba(241,88,62,0));
	background-image:-moz-linear-gradient(#f1583e,rgba(241,88,62,0));
	background-image:-o-linear-gradient(#f1583e,rgba(241,88,62,0));
	background-image:linear-gradient(#f1583e,rgba(241,88,62,0))
}

#network blockquote,#network blockquote p{
	border:none;
	color:#fff;
	font-size:36px
}