/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
/*
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}
*/
/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
	background-color:rgba(0, 0, 0,0.7);
	/*background-color:rgba(34, 30, 244,0.7);*/
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  /*background-color: #34495e; /*#3F51B5;/*#3F51B5;*//*#b61924;*/
  /*background-image: linear-gradient(to top, transparent, rgba(0,0,0,.8));/*url('');*/
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
}

.btn-primary {
    color: #FFF;
    background-color: #35577A;
    border: 0px;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #35577A;
    border: 0px;
}


html, body {
    height: 100%;
}
.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
	padding-right: 0;
    padding-left: 0;
}
.body-film {
    height: 100%;
    overflow-y: auto; // a value of 'scroll' will force scrollbars, even if they aren't necessary. This is cleaner.
    background-color: fadeout(@studio-bar-color, @studio-body-film-trans-delta);
}
.block-film {
    min-height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
    background-color: fadeout(@studio-bar-color, @studio-block-film-trans-delta);   
}

.btn{
	width: 100%;
}

.panel
{
	background: rgba(255, 255, 255, 0.65);/*#eee;*/ 
	border-radius: 3px;
	box-sizing: border-box;
	/*font-family: 'Source Sans Pro';*/
	font-size: 1.3em;
	height: 385px;
	left: 50%;
	margin: -170px 0px 0px -190px;
	padding: 20px;
	position: absolute;
	top: 50%;
	width: 420px;
	z-index: 10;
	z-index: 100;
}
.panel.hide
{
	display: none;
}
.panel h1
{
	color: #222;
	font-size: 1.8em;
	font-weight: 700;
	margin-top: -4px;
	text-align: center;
}
.panel .r-version
{
	display: block;
	font-size: .75em;
	margin-bottom: 7px;
	text-align: center;
}
.panel h2
{
	font-size: .8em;
	font-weight: 400;
	line-height: 1.3em;
	margin-bottom: 16px;
	text-align: center;
}
.panel li
{
	background: #fff;
	border-radius: 4px;
	color: #222;
	font-size: 1.1em;
	font-weight: 400;
	height: 34px;
	line-height: 34px;
	margin-top: 10px;
	text-align: center;
}
.panel li a
{
	color: #222;
	display: block;
	height: 100%;
	width: 100%;
}
.panel li a:visited
{
	color: #222;
}
.panel li a span:after
{
	font-family: 'icomoon';
	margin-left: 10px;
	vertical-align: top;
}
.panel li .label,.panel li .svg-wrap
{
	display: inline-block;
	vertical-align: top;
}
.panel li .svg-wrap
{
	height: 34px;
	margin-left: 6px;
	width: 18px;
}
.panel li .svg-wrap svg
{
	fill: #222;
	height: 100%;
	transition: fill 0.2s ease;
	webkit-transition: fill 0.2s ease;
	width: 100%;
}
.panel li:hover
{
	background: #222;
	color: #fff;
}
.panel li:hover a
{
	color: #fff;
}
.panel li:hover svg
{
	fill: #fff;
}

